<table class='table prices'>
  <% house.subscription_items.each do |id, s| %>
  <tr>
    <td><div class='text-left'><%= s[:name] %> <i class="fa fa-question-circle fa-padding" title='<%= t ".plan.#{id}", amount: cents(house.amount_for(id)), users: house.max_users, amount_per_user: cents(house.subscription_items[id][:quantity]) -%>'
    data-toggle="tooltip" data-placement="right"></i></div></td>
    <td class='text-right'><%= cents house.subscription_items[id][:quantity] %></td>
  </tr>
  <% end %>
  <tr>
    <td><div class='text-left'><strong>Total </strong><small>par mois</small></div></td>
    <td class='text-right'><strong><%= cents house.amount_total_per_user %></strong></td>
  </tr>
</table>

<% if house.coupons.any? %>
<p>
  <h6>Remises exceptionnelles <i class="fa fa-question-circle fa-padding" title="La remise sera appliquée après validation par la HackerHouse" data-toggle="tooltip" data-placement="right"></i></h6> 
  <p><i><%= house.coupon_to_s %></i></p>
</p>
<% end %>

<p>Un jour, un de vous quittera la HackerHouse et vous aurez la mission de choisir qui le remplacera. Si non, vous devrez assumer une contribution solidaire à la fin du mois!</p>