<% content_for :head do %>

  <script src="https://checkout.stripe.com/checkout.js"></script>

  <!-- only let people to pick future date (starting tomorrow) -->

  <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
  <script src="https://unpkg.com/flatpickr"></script>
  <script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>

  <script type="text/javascript">
    // Compute min date starting from a date
    const getMinDate = function(date) {
      const minDate = date.fp_incr(<%= @house.min_stay_in_days -%>);
      const month = minDate.getMonth() + (minDate.getDate() == 1 ? 0 : 1); // min date month if minimum stay falls on the beginning on month
      return new Date(minDate.getFullYear(), month, 1) // new min first month date
    }

    $(document).ready(function() {
      var options = {
        locale: 'fr',
        altFormat: "d/m/Y",
        altInput: true,
        dateFormat: 'd-m-Y',
        minDate: new Date().fp_incr(1)
      }
      const check_in = flatpickr('#check_in', $.extend({}, options, {
        onChange: function(d, n, str) {
          check_out.set("minDate", getMinDate(d[0]));

          check_out.set("enable", [function(d2) {
          // const lastDateOfCheckOutMonth = new Date(d2.getYear(), d2.getMonth() + 1, 1);
          // if (d2.getDate() === lastDateOfCheckOutMonth.getDate()) {
            if (d2.getDate() === 1) {
              return(true);
            }
            return(false);
          }]);
        },
        onClose: function(d, n, str) {
          check_out.open(); // open checkout when we open check in
        }
      }));

      const check_out = flatpickr('#check_out', $.extend({}, options, {
          onChange: function(d, n, str) {
            check_in.set("maxDate", d[0]); // check_in can not be after check_out
          }
      }));
    });
  </script>

  <style>
  table.prices tr:first-child td {
    border:none;
  }
  .fa-padding {
    padding: 5px;
  }
  </style>
<% end %>
    <div class="row">
      <div class='col'><h3 id='name'>On passe aux choses sérieuses ?</h3></div>
    </div>
    <div class="row">
      <div class="col col-7">
        <div class='form-group'><strong>📍 Où ? <%= @house.name %></strong></div>
          <% if @house.commercial %>
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Espaces communs avec bureaux nomades
                <span class="badge badge-pill">⭐</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Espaces de repos ouvert 7j/7 H24
                <span class="badge badge-pill">⭐</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Flexible et sécurisé : 1 mois de dépôt de garantie et <%= link_to "préavis le dernier jour ouvré du mois précédant ton départ", " http://man.hackerhouse.paris/vivre/pendant-mon-sejour/puis-je-partir-plus-tot-que-prevu" %>
                <span class="badge badge-pill">⭐</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Pas de garants, ni de conditions de resources
                <span class="badge badge-pill">🚫</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Pas un lieu d'habitation: pas d'attestation hébergement ni éligible aux aides
                <span class="badge badge-pill">🚫</span>
              </li>
            </ul>
          <% else %>
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                  Espaces communs avec bureaux nomades
                  <span class="badge badge-pill">⭐</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Chambres partagées
                <span class="badge badge-pill">⭐</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Flexible et sécurisé : 1 mois dépôt de garantie et <%= link_to "préavis le dernier jour ouvré du mois précédant ton départ", " http://man.hackerhouse.paris/vivre/pendant-mon-sejour/puis-je-partir-plus-tot-que-prevu" %>
                <span class="badge badge-pill">⭐</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Pas de garants, ni de conditions de resources
                <span class="badge badge-pill">🚫</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Durée maximum 8 mois (résidence secondaire) : pas éligible aux aides
                <span class="badge badge-pill">🚫</span>
              </li>
            </ul>
          <% end %>
          <p>pour plus de détail voir : <%= link_to_contract @house %></p>
      </div>
      <div class="col col-5">
        <form id='user_new'>
          <label for='check_in'>Quand</label>
          <div class="form-inline">
            <div class='form-group'>
              <input id='check_in' type='text' class="form-control" placeholder="Check in"/>
            </div>
            <div class='form-group'>
              <input id='check_out' type='text' class="form-control" placeholder="Check out" />
            </div>
          </div>
          <%= render "pricing2", house: @house %>
          <input type='checkbox' id='terms'> <label for="terms">J'ai lu et accepte <%= link_to_contract @house %></label>

          <button id="customButton" type="submit" class="btn btn-primary btn-lg btn-block" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Don't panic... 🤖" disabled=disabled>J'emménage 🚀</button>
          <p class='help-block text-center'><a href='https://man.hackerhouse.paris/vivre/paiement/quand-suis-je-debite-de-ma-reservation' target="_blank"><small>Tu seras débité au prorata à ton emménagement</small></a></p>

        </form>
      </div>
    </div>
    <!-- This should always be after form until we move to (document).ready -->
    <script type='text/javascript'>

    $(document).ready(function() {

      function createDateAsUTC(date) {
        return new Date(Date.UTC(date.getFullYear(), date.getMonth(), date.getDate(), date.getHours(), date.getMinutes(), date.getSeconds()));
      }

      $('#terms').on('change', function(event) {
        var btn = $(this);
        // console.log(btn.not(':checked'))
        $('#customButton').prop('disabled', !btn.is(':checked'));
      });

      var handler = StripeCheckout.configure({
        key: '<%= Rails.application.secrets.stripe_publishable_key %>',
        image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
        locale: 'auto',
        token: function(token) {
          var check_in = $('#check_in').val();
          var check_out = $('#check_out').val();
          $('#customButton').button('loading');

          $.post(
           window.location.origin + '/v1/users.json', {
           token: token.id,
           email: token.email,
           check_in: check_in,
           check_out: check_out,
           slug_id: '<%= @house.slug_id -%>'})
            .done(function(data) {
              // convert local date to utc
              $('#customButton').button('reset');
              alert('C\'est tout bon ! 👌 D\'ici quelques heures tu receveras dans ta boite mail : contrat de réservation à signer et la demande de paiement du dépôt de garantie  :-). <%= @house.name %>'); })
            .fail(function (error) {
              alert(error.responseText);
              $('#customButton').button('reset');
          });
          // POST /transactions?stripe_publishable_key=pk_test_w16a4DTyGylp8oAxNPmfXAqX&token=token.id&stripe_cust_id=?
          // You can access the token ID with `token.id`.
          // Get the token ID to your server-side code for use.
        }
      });

      document.getElementById('customButton').addEventListener('click', function(e) {
        // Open Checkout with further options:
        handler.open({
          name: '<%= "Réservation #{@house.name}" %>',
          description: "Abonnement mensuel",
          zipCode: false,
          currency: 'eur'
        });
        e.preventDefault();
      });

      // Close Checkout on page navigation:
      window.addEventListener('popstate', function() {
        handler.close();
      });

    });

    </script>