<!-- Ivry -->
<!-- <form action="http://localhost:3000/v1/" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_w16a4DTyGylp8oAxNPmfXAqX"
    data-amount="999"
    data-name="Ivry"
    data-description="Widget"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-zip-code="true"
    data-currency="eur">
  </script>
</form> -->
<% content_for :head do %>

  <script src="https://checkout.stripe.com/checkout.js"></script>
 
<!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/3327857.js"></script>
<!-- End of HubSpot Embed Code -->

  <!-- only let people to pick future date (starting tomorrow) -->

  <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
  <script src="https://unpkg.com/flatpickr"></script>
  <script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      $("#when").flatpickr({
        locale: 'fr',
        mode: "range",
        altFormat: "d M",
        altInput: true,
        dateFormat: 'd-m-Y',
        minDate: new Date().fp_incr(1)
      });
    });
  </script>

  <style>
  table.prices tr:first-child td {
    border:none;
  }
  .fa-padding {
    padding: 5px;
  }
  </style>
<% end %>

    <div class="row">
      <div class="col-lg-offset-4 col-lg-4">
        <form id='user_new'>
          <h3 id='name'><%= @house.name %></h3>
          <div class="form-group">
            <p>
            <label for="when">Quand</label>
            <input id='when' type='date' class="form-control" />
            </p>
            <%= render "pricing", house: @house %>
            <input type='checkbox' id='terms'> <label for="terms">J'ai lu et accepte les <a target="_blank" href="https://man.hackerhouse.paris/hc/fr/articles/115010135147">conditions générales d'utilisation</a></label>
          </div>
          <button id="customButton" type="submit" class="btn btn-primary btn-lg btn-block" disabled=disabled>J'emménage 🚀</button>
          <p class='help-block text-center'><small>Tu seras débité à ton emménagement</small></p>

        </form>
      </div>
    </div>
    <!-- This should always be after form until we move to (document).ready -->
    <script type='text/javascript'>

    $(document).ready(function() {

      $('#terms').on('change', function(event) {
        var btn = $(this);
        // console.log(btn.not(':checked'))
        $('#customButton').prop('disabled', !btn.is(':checked'));
      });

      var handler = StripeCheckout.configure({
        key: '<%= @house.stripe_publishable_key %>',
        image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
        locale: 'auto',
        token: function(token) {
          var dates = $('#when').val().split(' au ');
          $.post(
           window.location.origin + '/v1/users.json', {
           token: token.id,
           email: token.email,
           check_in: dates[0],
           check_out: dates[1],
           slug_id: '<%= @house.slug_id %>'})
            .done(function(data) {
              _hsq.push(['identify', {email: token.email, lifecyclestage: 'customer',
                check_in: dates[0],
                check_out: dates[1]}]);
              _hsq.push(['trackPageView']);
              alert('42 x Merci ! Ton paiement a bien été pris en compte, on te voit très bientôt :-). <%= @house.name %>'); })
            .fail(function (error) {
              alert(error.responseText);
          });
          // POST /transactions?stripe_publishable_key=pk_test_w16a4DTyGylp8oAxNPmfXAqX&token=token.id&stripe_cust_id=?
          // You can access the token ID with `token.id`.
          // Get the token ID to your server-side code for use.
        }
      });

      document.getElementById('customButton').addEventListener('click', function(e) {
        // Open Checkout with further options:
        handler.open({
          name: '<%= "Réservation #{@house.name}" %>',
          description: "Abonnement mensuel",
          zipCode: false,
          currency: 'eur',
          amount: <%= @house.price_in_cents %>
        });
        e.preventDefault();
      });

      // Close Checkout on page navigation:
      window.addEventListener('popstate', function() {
        handler.close();
      });

    });

    </script>