<p>Hey,</p>

<p><%= @user.firstname %> continue l'aventure avec nous jusqu'au <%= l @user.check_out, format: :pretty -%></p>

<p>Accorde lui 15 minutes: Laisse lui une reco Linkedin ça pourra toujours l'aider.</p>

<p>Son linkedin c'est par <%= link_to 'ici', @user.bio_url %></p>

<p>En espérant voir pleins de recos ;)</p>

<% if @next %>
<p>PS : Prochain départ c'est <%=  @next.firstname %>, le <%= l(@next.check_out, format: :long) -%>.</p>
<% end %>