<p>Hey,</p>

<p><%= @user.firstname %> nous quitte dans <%= time_ago_in_words @user.check_out -%> (<%= l @user.check_out, format: :long -%>)</p>

<p>Connaîtrais-tu son successeur ?</p>
<p>Pour t'aider, tu peux :</p>
<ul>
  <li>voir les postulants de la maison <%= link_to 'là', 'https://app.hackerhouse.paris/dashboard/house' %></li>
  <li>faire appel à ton propre réseau : école, taff, meetup</li>
</ul>
<p>Si il a déjà été trouvé, ignore ce message ;)</p>

<p>À ta dispo,</p>

<% if @next %>
<p>PS : Prochain emménagement c'est <%=  @next.firstname %>, le <%= l(@next.check_in, format: :long) -%>.</p>
<% end %>