<p>Hey,</p>

<p><%= @user.firstname %> nous quitte dans <%= time_ago_in_words @user.check_out -%> (<%= l @user.check_out, format: :long -%>)</p>

<p>Tu peux parrainer un nouveau coloc pour gagner des briqs !</p>

<p>Pour cela il faut:
  <ul>
    <li>ton filleul signup en mentionnant ton @username slack</li>
    <li>slacker @vanessa avec le nom de la personne que tu parraines</li>
  </ul>
</p>

<p>Si il a déjà été trouvé, ignore ce message ;)</p>

<p>À ta dispo,</p>

<% if @next %>
<p>PS : Prochain emménagement c'est <%=  @next.firstname %>, le <%= l(@next.check_in, format: :long) -%>.</p>
<% end %>