<p>Hey,</p>

<p><%= @user.firstname %> vient de postuler pour <%= distance_of_time_in_words @message.check_out, @message.check_in -%> à partir du <%= l @message.check_in, format: :long -%></p>

<p><strong><%= link_to @user.firstname, @user.bio_url -%></strong>, <%= truncate @user.bio_title, length: 40 -%></p>
<p>
  <blockquote><%= truncate(@message.body, length: 140) { link_to "Continue", 'https://app.hackerhouse.paris/dashboard/house' }  %></blockquote>
</p>

<p>À ta dispo,</p>